@font-face {
  font-family: 'NanumSinHonBuBu';
  src: url('/src/assets/NanumSinHonBuBu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
